<!DOCTYPE html>
<html>
<head>
    <title>Security Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Security Dashboard</h1>

    <h2>Analyze New Activity</h2>

    <form action="/analyze"
          method="POST">

        <label>Username</label>
        <input type="text"
               name="username"
               value="User101"
               required>

        <label>Attempts</label>
        <input type="number"
               name="attempts"
               value="2"
               required>

        <label>Unknown Device</label>
        <select name="unknown_device">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>

        <label>Unusual Time</label>
        <select name="unusual_time">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>

        <label>Verification Failures</label>
        <input type="number"
               name="verification_failures"
               value="0"
               required>

        <label>Location Change</label>
        <select name="location_change">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>

        <label>Request Rate</label>
        <input type="number"
               step="0.1"
               name="request_rate"
               value="1"
               required>

        <button type="submit">
            Analyze Activity
        </button>

    </form>

    <hr>

    <h2>Recent Security Events</h2>

    <table>

        <tr>
            <th>User</th>
            <th>Attempts</th>
            <th>Threat</th>
            <th>Risk</th>
            <th>Result</th>
        </tr>

        {% for event in events %}

        <tr>

            <td>
                {{ event["username"] }}
            </td>

            <td>
                {{ event["attempts"] }}
            </td>

            <td>
                {{ event["threat_level"] }}
            </td>

            <td>
                {{ event["risk_score"] }}%
            </td>

            <td>
                {{ event["result"] }}
            </td>

        </tr>

        {% endfor %}

    </table>

    <a href="/">Back to Home</a>

</div>

</body>
</html>
