<!DOCTYPE html>
<html>
<head>
    <title>SIH26141 Security System</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Digital Signature Security System</h1>

    <p>
        Quantum-Inspired Cyber Threat Detection
    </p>

    <div class="buttons">
        <a href="/sign">Sign Document</a>
        <a href="/verify">Verify Signature</a>
        <a href="/dashboard">Dashboard</a>
    </div>

</div>

</body>
</html>
